<!-- PAGE REPRESENTING A SINGLE COUNTRY -->
<div class="ongo-category-item">

  <!-- CONTENT AREA -->
  <section class="ongo-content">

      <!-- INFO -->
      <div class="ongo-info">
          <div class="grid-x">

              <!-- AVATAR AREA (i.e. country flag, photographer avatar, etc.) -->
              <div class="small-12 medium-2 cell">
                  <img class="ongo-avatar" ng-src="{{ country.flag }}">
              </div>

              <!-- INFO AREA (title, tags, etc... ) -->
              <div class="small-12 medium-9 cell">
                  <div class="info-area">

                      <h1 ui-sref="country({ id: country.id })">{{ country.name }}</h1>

                      <div class="tags">
                          <a class="tag" href="" ui-sref="country.photographers">Photographers: <span>{{ country.stats.photographers }}</span></a>
                          <a class="tag" href="" ui-sref="country.cities">Cities: <span>{{ country.stats.cities }}</span></a>
                          <a class="tag" href="" ui-sref="country.places">Places: <span>{{ country.stats.places }}</span></a>
                          <a class="tag" href="" ui-sref="country.galleries">Photo galleries:
                              <span>{{ country.stats.galleries }}</span></a>
                          <a class="tag" href="">Photo total: <span>{{ country.stats.photos }}</span></a>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <!-- SEARCH AREA -->
      <div class="ongo-search">
          <h5>Choose country</h5>
          <form class="ongo-search-form">
              <input class="ongo-search-input typeahead state" type="text" placeholder="Enter your country">
              <input class="ongo-search-submit hidden-submit" type="submit">
              <i class="fi-magnifying-glass"></i>
          </form>
          <a class="close"></a>
      </div>

      <!-- BACKGROUND -->
      <div class="ongo-background bg_country" style="background-image: url('{{ country.logo }}');"></div>
  </section> <!-- end .ongo-content -->

  <!-- PREVIEW GALLERIES -->
  <ui-view>
      <section>
          <ng-include src="'views/inc_lastgalleries.html'"></ng-include>
      </section>
  </ui-view>

</div>
