
                <div class="search_gallery">
                    <form>
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="row collapse">
                                    <div class="large-6 medium-6 small-5 columns">
                                        <input class="photografer typeahead" type="text" placeholder="Photografer name">
                                    </div>
                                    <div class="large-3 medium-3 small-4 columns">
                                        <input class="date fdatepicker" type="text" placeholder="event date">
                                    </div>
                                    <div class="large-3 medium-3 small-3 columns">
                                        <a href="#" class="button postfix">Search</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

    <div class="main">

        <div class="row">
            <div class="large-12 columns">
                <div class="finder">
                    <h1><a href="">Sergey Novozhilov</a></h1>
                    <span><a href="">Cuba</a>, <a href="">Santiago de Cuba</a>, <a href="">Beach</a></span>
                    <div class="text-center">
                        <span>17 February 2015 , Tuesday</span>
                        <div class="social-likes justify" data-counters="no">
                            <div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
                            <div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
                            <div class="mailru" title="Поделиться ссылкой в Моём мире"></div>
                            <div class="pinterest" title="Поделиться картинкой на Пинтересте" data-media=""></div>
                        </div>

                        <a social-twitter>share on twitter</a>
                        <a social-twitter status="My custom status">share on twitter</a>
                        <a social-facebook>share on facebook</a>
                        <a social-gplus>share on google plus</a>
                        <a social-pinterest media="http://lorempixel.com/100/100/nature/1">share on pinterest</a>
                        <a social-linkedin>share on linkedin</a>
                        <a social-stumbleupon>share on stumbleupon</a>
                        <a social-reddit>share on reddit</a>
                        <a social-vk>share on vk.com</a>
                        <a social-ok>share on ok.ru</a>
                        <a social-xing>share on xing</a>

                    </div>

                </div>
            </div>
        </div>

        <div class="bg_gallery"></div>
    </div>


    <div class="center_gallery">

        <div id="container">

            <div class="item" ng-repeat="p in photos" on-finish-render="ngRepeatFinished">
                <a ui-sref="photo({id: p.id, gallery_id: p.gallery_id})">

                <img src="{{ p.thumb }}" >
                <div class="icons">
                    <a href="" class="add_favorite"></a>
                    <a href="" class="add_cart"></a>
                </div>
                    </a>
            </div>
        </div>

    </div>

    <div class="row gallery_info">
        <div class="small-12 medium-12 large-12 columns">
            <h4>More premium stock photography</h4>
          <span class="descr">
            Prime have never been used in commercial campaigns before. Be the
            first <br/>one to experience the amazing quality of top-notch photographers.
          </span>
            <a href="" class="button radius">Continue</a>
        </div>
    </div>

