

    <div class="main">
        <div class="row">
            <div class="large-12 columns">
                <div class="finder">
                    <h1><a href="">{{ gallery.photographer.name }}</a></h1>
                    <span><a href="">{{ gallery.country.name }}</a>, <a href="">{{ gallery.city.name }}</a>, <a href="">{{ gallery.place.name }}</a></span>
                    <div class="text-center">
                        <span>{{ gallery.date | date:'dd MMMM yyyy, EEEE' }}</span>
                        <div class="social-likes justify" data-counters="no">
                            <div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
                            <div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
                            <div class="mailru" title="Поделиться ссылкой в Моём мире"></div>
                            <div class="pinterest" title="Поделиться картинкой на Пинтересте" data-media=""></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="bg_gallery"></div>
    </div>


    <div class="center_gallery">

        <div id="container">

            <div class="item" ng-repeat="p in photos" >
                <a ui-sref="photo({id: p.id, gallery_id: p.gallery_id})">
                <img ng-src="{{ p.thumb }}" imageonload="masonry">
                <div class="icons">
                    <a href="" class="add_favorite"></a>
                    <a href="" class="add_cart"></a>
                </div>
                    </a>
            </div>
        </div>

    </div>

    <div class="row gallery_info">
        <div class="small-12 medium-12 large-12 columns">
            <h4>More premium stock photography</h4>
          <span class="descr">
            Prime have never been used in commercial campaigns before. Be the
            first <br/>one to experience the amazing quality of top-notch photographers.
          </span>
            <a href="" class="button radius">Continue</a>
        </div>
    </div>
