<!-- PAGE REPRESENTING A GALLERY -->
<div class="ongo-gallery-page">

    <section class="ongo-header">

          <!-- GALLERY INFO -->
          <div class="ongo-info">

              <!-- Photographer name -->
              <h1><a ui-sref="photographer({id: gallery.photographer.id})">{{ gallery.photographer.name }}</a></h1>

              <!-- Country, City, Place -->
              <h2>
                <a ui-sref="country({id: gallery.country.id})">{{ gallery.country.name }}</a>,
                <a ui-sref="city({id: gallery.city.id})">{{ gallery.city.name }}</a>,
                <a ui-sref="palce({id: gallery.place.id})">{{ gallery.place.name }}</a></span>
              </h2>

              <!-- Date -->
              <h3>
                <span ui-sref="date({date: gallery.date})">{{ gallery.date | date:'dd MMMM yyyy, EEEE' }}</span>
              </h3>

          </div> <!-- end gallery info -->

          <!-- SOCIAL BUTTONS -->
          <div class="social-likes" data-counters="no">
              <div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
              <div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
              <div class="mailru" title="Поделиться ссылкой в Моём мире"></div>
              <div class="pinterest" title="Поделиться картинкой на Пинтересте" data-media=""></div>
          </div>

          <!-- BACKGROUND -->
          <div class="ongo-background">
            <div class="bg_gallery"></div>
          </div>

    </section> <!-- end header -->

    <!-- GALLERY -->
    <section class="ongo-gallery">

        <!-- Gallery images ("masonry" plugin for collage effect) -->
        <div id="gallery-masonry-container">
            <div class="item" ng-repeat="p in photos" >
                <a ui-sref="photo({id: p.id, gallery_id: p.gallery_id})">
                <img ng-src="{{ p.thumb }}" imageonload="masonry">
                <div class="icons" >
                    <a href="" class="add_favorite" ng-click="addToFav(p.id, p.gallery_id);"></a>
                    <a href="" class="add_cart" ng-click="addToCart(p.id, p.gallery_id, 'best');"></a>
                </div>
            </div>
        </div>

        <!-- Gallery footer -->
        <div class="ongo-gallery-footer">
              <h1>More premium stock photography</h1>
              <h2>
                Prime have never been used in commercial campaigns before. Be the
                first one to experience the amazing quality of top-notch photographers.
              </h2>
              <a href="#" ui-sref="photographers-registration" class="button ongo-registration-btn">Continue</a>
        </div>

    </section>
</div>
