<footer class="ongo-footer grid-x">

  <!-- FOOTER NAVS -->
  <section class="small-12 medium-6 cell grid-x">

    <!-- GENERAL INFO NAV -->
    <nav class="ongo-footer-nav large-4 medium-4 small-12 cell">
      <h1>OnGo Photos</h1>
      <ul class="ongo-footer-nav">
        <li><a ui-sref="policy" translate="Privacy Policy"></a></li>
        <li><a ui-sref="about" translate="About"></a></li>
        <li><a ui-sref="contacts" translate="Contacts"></a></li>
        <li><a ui-sref="faq" translate="FAQ"></a></li>
      </ul>
    </nav>

    <!-- CATEGORIES NAV -->
    <nav class="ongo-footer-nav large-4 medium-4 small-12 cell">
      <h1><translate>CATEGORY1</translate></h1>
      <ul class="ongo-footer-nav">
        <li><a href="#" ui-sref="list.countries" translate>FOOTER.COUNTRY</a></li>
        <li><a href="#" ui-sref="list.cities" translate>FOOTER.CITY</a></li>
        <li><a href="#" ui-sref="list.places" translate>FOOTER.PLACE</a></li>
        <li><a href="#" ui-sref="list.photographers" class="--footer-nav-green" translate>FOOTER.PHOTOGRAPHER</a></li>
      </ul>
    </nav>

    <!-- SOCIAL LINKS NAV -->
    <nav class="ongo-footer-nav large-4 medium-4 small-12 cell">
      <h1>Follow Us</h1>
      <ul class="ongo-footer-nav">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i>Pinterest</a></li>
        <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i>Vimeo</a></li>
        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i>Google+</a></li>
      </ul>
    </nav>

  </section>

  <!-- PAYMENT, LEGAL, AND COPYRIGHT -->
  <section class="small-12 medium-6 cell">

      <!-- Payment Type Logos -->
      <ul class="ongo-payment-type-list">
        <a class="ongo-payment-type-icon"><img src="img/payment-logos/mastercard.svg" alt="Mastercard"></a>
        <a class="ongo-payment-type-icon"><img src="img/payment-logos/visa.svg" alt="Visa"></a>
        <a class="ongo-payment-type-icon"><img src="img/payment-logos/paypal.svg" alt="PayPal"></a>
      </ul>

      <!-- Legal Info and Copyright ("fineprint")-->
      <div class="ongo-footer-block"><translate>FOOTER.LEGAL</translate></div>
      <div class="ongo-footer-block"><translate>FOOTER.COPYRIGHT</translate></div>

  </div>
</footer>
