<div class="lastgallery">
    <section ng-repeat="g in galleries">

        <div class="grid-x thumbsgal" ng-if="g.icons">
            <div class="small-12 cell">
                <div class="thumbwrap">
                    <ul class="minslider">
                        <li ng-repeat="p in g.icons">
                            <a ui-sref="gallery({id: g.id})">
                                <img ng-src="{{ p.ico }}" image-onload="minslider">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- TODO: styling -->
        <div class="list">
            <a ui-sref="day({day: ( g.created|strtotime|date:'yyyy-MM-dd' ), country_id: g.country.id })">{{ g.created | strtotime | date: "dd/MM/yyyy" }}</a> -
            <a class="city" ui-sref="city({id: g.city.id})">{{ g.city.name }}</a>,
            <a class="city" ui-sref="country({id: g.country.id})">{{ g.country.name }}</a>
            (<a ui-sref="place({id: g.place.id})">{{ g.place.name }}</a>)
            <a ui-sref="photographer({id: g.photographer.id})">{{ g.photographer.name }}</a>
        </div>

    </section>
</div>
