<div class="footer">
  <div class="row">
    <div class="large-2 medium-2 small-6 columns">
      <div class="footer-nav-head"><strong>OnGo Photos</strong></div>
      <ul class="footer-nav">
        <li><a ui-sref="policy" translate="Privacy Policy"></a></li>
        <li><a ui-sref="about" translate="About"></a></li>
        <li><a ui-sref="contacts" translate="Contacts"></a></li>
        <li><a ui-sref="faq" translate="FAQ"></a></li>
      </ul>
    </div>
    <div class="large-2 medium-2 small-6 columns">
      <div class="footer-nav-head"><translate><strong>CATEGORY1</strong></translate></div>
      <ul class="footer-nav">
        <li><a href="#" ui-sref="list.countries" translate>FOOTER.COUNTRY</a></li>
        <li><a href="#" ui-sref="list.cities" translate>FOOTER.CITY</a></li>
        <li><a href="#" ui-sref="list.places" translate>FOOTER.PLACE</a></li>
        <li><a href="#" ui-sref="list.photographers" class="--footer-nav-green" translate>FOOTER.PHOTOGRAPHER</a></li>
      </ul>
    </div>
    <div class="large-2 medium-2 small-12 columns">
      <div class="footer-nav-head"><strong>Follow Us</strong></div>
      <ul class="footer-nav small-block-grid-2 medium-block-grid-1 large-block-grid-1">
        <li><a href="#" class="footer-nav-social facebook">Facebook</a></li>
        <li><a href="#" class="footer-nav-social twitter">Twitter</a></li>
        <li><a href="#" class="footer-nav-social pinterest">Pinterest</a></li>
        <li><a href="#" class="footer-nav-social vimeo">Vimeo</a></li>
        <li><a href="#" class="footer-nav-social google">Google+</a></li>
      </ul>
    </div>
    <div class="large-6 medium-6 small-12 columns footer-left">
      <div class="oplata">
        <a class="oplata-type mastercard"></a>
        <a class="oplata-type visa"></a>
        <a class="oplata-type paypal"></a>
      </div>
      <div translate>FOOTER.LEGAL</div>
      <div translate>FOOTER.COPYRIGHT</div>
    </div>
  </div>
</div>
