<div class="header">
    <div class="row">
        <div class="large-12 columns nopadding">
            <nav class="top-bar" data-topbar="" role="navigation" data-options="is_hover: false">

                <ul class="title-area">
                    <li class="name">
                        <span><a ui-sref="main"><em>OnGoPhotos</em></a></span>
                    </li>
                    <li class="toggle-topbar menu-icon"><a ui-sref="main"><span></span></a></li>
                </ul>
                <section class="top-bar-section" ng-controller="LoginCtrl">
                <section>
                    <ul class="right">
                        <li ng-if="!isAuthorized('user')"><a class="menu_ico1" href="#" ui-sref="user" translate="MENU.LOGIN"></a></li>
                        <li ng-if="isAuthorized('user')"><a class="menu_ico1" href="#" ui-sref="logout" translate="MENU.LOGOUT"></a></li>
                        <li ng-if="isAuthorized('user')"><a class="menu_ico1" href="#" ui-sref="user.orders" translate="MENU.ORDERS"></a></li>
                        <li ng-if="keys(cart.items).length"><a class="menu_ico2" ui-sref="checkout"><span translate="MENU.CHECKOUT"></span> ({{ keys(cart.items).length }})</a></li>
                        <li ng-if="keys(fav.items).length"><a class="menu_ico2" ui-sref="favourites"><span translate="MENU.FAVOURITES"></span> ({{ keys(fav.items).length }})</a></li>
                        <li ng-if="activeLanguage!='en'"><a class="menu_ico3" href="#" ng-click="changeLanguage('en');"><span>English</span></a></li>
                        <li ng-if="activeLanguage!='ru'"><a class="menu_ico3" href="#" ng-click="changeLanguage('ru');"><span>Русский</span></a></li>

                        <li class="has-dropdown">
                            <a class="menu_ico3" href="#"><span>Language</span></a>
                            <ul class="dropdown">
                                <li><a href="#" href="#" ng-click="changeLanguage('en')"><img src="/img/flag/flag_en.jpg">English</a></li>
                                <li><a href="#" href="#" ng-click="changeLanguage('ru')"><img src="/img/flag/flag_ru.jpg">Russian</a></li>
                            </ul>
                        </li>



                        <li class="has-dropdown">
                            <a class="menu_ico4" href="#"></a>
                            <ul class="dropdown">
                                <li><a ui-sref="about" translate="About"></a></li>
                                <li><a ui-sref="privacy" translate="Privacy Policy"></a></li>
                                <li><a ui-sref="contacts" translate="Contacts"></a></li>
                                <li><a ui-sref="faq" translate="FAQ"></a></li>
                            </ul>
                        </li>

                </section>
                </section>
            </nav>
        </div>
    </div>
</div>