<div class="overflow gallery_page">
    <div class="header">
        <div class="row">
            <div class="large-12 columns nopadding">

                <div class="search_gallery">
                    <form>
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="row collapse">
                                    <div class="large-6 medium-6 small-5 columns">
                                        <input class="photografer typeahead" type="text" placeholder="Photografer name">
                                    </div>
                                    <div class="large-3 medium-3 small-4 columns">
                                        <input class="date fdatepicker" type="text" placeholder="event date">
                                    </div>
                                    <div class="large-3 medium-3 small-3 columns">
                                        <a href="#" class="button postfix">Search</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <nav class="top-bar" data-topbar="" role="navigation" data-options="is_hover: false">

                    <ul class="title-area">
                        <li class="name">
                            <span><a href="/"><em>OnGoPhotos</em></a></span>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                    </ul>


                    <section class="top-bar-section">
                        <ul class="right">
                            <li><a class="menu_ico1" href="#">Sign in</a></li>
                            <li><a class="menu_ico2" href="#"><span>Checkout</span></a></li>
                            <li><a class="menu_ico3" href="#"><span>Language</span></a></li>
                            <li><a class="menu_ico4" href="#">About</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>


    <div ui-view></div>


    <div class="footer">
        <div class="row">
            <div class="large-2 medium-2 small-6 columns">
                <div class="footer-nav-head"><strong>Find Foto</strong></div>
                <ul class="footer-nav">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="large-2 medium-2 small-6 columns">
                <div class="footer-nav-head"><strong>Category</strong></div>
                <ul class="footer-nav">
                    <li><a href="#">Country</a></li>
                    <li><a href="#">Сity</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#" class="footer-nav-green">Photographer</a></li>
                </ul>
            </div>
            <div class="large-2 medium-2 small-12 columns">
                <div class="footer-nav-head"><strong>Follow Us</strong></div>
                <ul class="footer-nav small-block-grid-2 medium-block-grid-1 large-block-grid-1">
                    <li><a href="#" class="footer-nav-social facebook">Facebook</a></li>
                    <li><a href="#" class="footer-nav-social twitter">Twitter</a></li>
                    <li><a href="#" class="footer-nav-social pinterest">Pinterest</a></li>
                    <li><a href="#" class="footer-nav-social vimeo">Vimeo</a></li>
                    <li><a href="#" class="footer-nav-social google">Google+</a></li>
                </ul>
            </div>
            <div class="large-6 medium-6 small-12 columns footer-left">
                <div class="oplata">
                    <a class="oplata-type mastercard"></a>
                    <a class="oplata-type visa"></a>
                    <a class="oplata-type paypal"></a>
                </div>
                Launched in November 2011, our site features a daily photographing people in public place Europe, Asia and soon beyond. We have about 15,000 photographer working with us.<br><br>
                © 2012 - 2015 All rights reserved - Find-Foto.com
            </div>
        </div>
    </div>

</div>
