<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <div class="lastgallery">
            <h3 translate="CITIES"></h3>

            <!-- List of cities -->
            <ul class="list">

                <li class="list-item" ng-repeat="city in cities">
                    <a href="" ui-sref="city({id: city.id})">

                      <div class="heading">
                        <!-- city name -->
                        <h1>{{ city.name }}</h1>
                      </div>

                      <!-- avatar/preview image and fallback image -->
                      <img class="avatar" ng-if="city.logo" ng-src="{{ city.logo }}">
                      <img class="avatar" ng-if="!city.logo" ng-src="{{ './img/fallback/fallback1.jpg' }}">
                    </a>
                </li>

            </ul>

        </div>
    </div>
</div>
