<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <div class="lastgallery">
            <h3 translate="PLACES"></h3>

            <!-- List of places -->
            <ul class="list">

                <li class="list-item" ng-repeat="place in places">
                    <a href="" ui-sref="place({id: place.id})">

                      <div class="heading">
                        <!-- place name -->
                        <h1>{{ place.name }}</h1>
                      </div>

                      <!-- avatar/preview image and fallback image -->
                      <img class="avatar" ng-if="place.logo" ng-src="{{ place.logo }}">
                      <img class="avatar" ng-if="!place.logo" ng-src="{{ './img/fallback/fallback' + ((5 | randomNum) + 1) + '.jpg' }}">
                    </a>
                </li>

            </ul>

        </div>
    </div>
</div>
