<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <div class="lastgallery">
            <h3 translate="COUNTRIES"></h3>

            <div class="list" ng-repeat="country in countries">

                <a href="" ui-sref="country({id: country.id})">
                  <!-- avatar/preview image -->
                  <img class="avatar" ng-src="{{ country.logo }}">

                  <!-- list item name -->
                  <h1>{{ country.name }}</h1>
                </a>
            </div>

        </div>
    </div>
</div>
