<!-- MAIN PAGE -->
<div id="ongo-main">

    <!-- BACKGROUND CAROUSEL -->
    <div class="ongo-background-carousel">
        <ul id="lightSlider">
            <section ng-repeat="p in topGalleries">
                <li>
                    <img ng-src="{{ p.logo }}" imageonload="lightSlider" style="display:none;">
                    <a class="ongo-background-carousel-link" ui-sref="gallery({id:p.id})">
                        <translate>BROWSE_TO_GALLERY</translate>
                    </a>
                </li>
            </section>
        </ul>
    </div>

    <!-- LANDING AREA -->
    <section class="ongo-landing">

        <!-- HEADING -->
        <section class="ongo-heading">
          <h1><translate>FIND_YOUR_PHOTOS</translate></h1>
          <h2><translate>CHOOSE_YOUR_PHOTOS</translate><h2>
        </section>

        <!-- SEARCH AREA -->
        <section class="ongo-search">
          <form class="ongo-search-form" ng-controller="SearchCtrl as ctrl" aria-label="Search form">
              <input type="search"
                     class="ongo-search-input photografer typeahead"
                     placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}"
                     ng-model="ctrl.colorName"
                     auto-complete="ctrl.autoCompleteOptions"
                     aria-label="Search input"
              >
              <button type="button" class="button ongo-search-submit" aria-label="Search submit button" data-close><span translate="SEARCH.BUTTON"></span></button>
          </form>
        </section>

        <!-- CAPTION / TAGLINE -->
        <section class="ongo-tagline">
            <span><translate>FIND_BUY_DOWNLOAD</translate></span>
        </section>

    </section>

    <!-- GALLERY CAROUSELS -->
    <section class="ongo-gallery-carousels">
        <div class="thumbsgal" ng-repeat="g in galleries">

            <!-- Gallery Wrap -->
            <div class="thumbwrap">
              <ul class="minslider">
                  <li ng-repeat="p in g.icons">
                      <a ui-sref="gallery({id: g.id})">
                          <img ng-src="{{ p.ico }}" imageonload="minslider">
                      </a>
                  </li>
              </ul>

              <div class="controls">
                  <a class="prev">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                  </a>
                  <a class="next">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </a>
              </div>
            </div>

            <!-- Gallery Info -->
            <span class="subject">
                <a href="" ui-sref="photographer({id: g.photographer.id})">{{ g.photographer.name }}</a>
                <a ui-sref="day({day: ( g.created|strtotime|date:'yyyy-MM-dd' ), country_id: g.country.id })">{{
                    g.created | strtotime | date: "dd/MM/yyyy" }}</a>
                <a href="" ui-sref="place({id: g.place.id})">{{ g.place.name }}</a>,
                <a href="" ui-sref="city({id: g.city.id})">{{ g.city.name }}</a>,
                <a href="" ui-sref="country({id: g.country.id})">{{ g.country.name }}</a>,
            </span>
        </div>
    </section>
</div>
