<div class="main">

    <div class="row">
        <div class="large-12 columns">
            <div class="finder">
                <h1>Find your fotos</h1>
                <span>Enter Photographer Name, date of event or both</span>

                <form>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="row collapse">
                                <div class="large-6 small-6 columns">
                                    <input class="photografer typeahead" type="text" placeholder="Photografer name">
                                </div>
                                <div class="large-3 small-3 columns">
                                    <input class="date fdatepicker" type="text" placeholder="event date">
                                </div>
                                <div class="large-3 small-3 columns">
                                    <a href="#" class="button postfix">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center">
                    <span>We are looking for photografers</span>
                    <a class="button gradient radius reg" href="">Regestration for photografers</a>
                </div>
            </div>
        </div>
    </div>

    <div class="lighter">
        <ul id="lightSlider">
            <li style="background-image:url('img/main.jpg');">
                <a ui-sref="gallery">Browse to Gallery</a>
            </li>
            <li style="background-image:url('img/main1.jpg');">
                <a ui-sref="gallery">Browse to Gallery</a>
            </li>
        </ul>
    </div>
</div>


<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 city_block">
    <li>
        <a href="#" class="cityblock"
           style="background: url('{{ topCountry.logo }}') 50% 50% no-repeat; background-size: cover;">
                      <span>
                        {{ topCountry.name }}
                        <em>Browse to Country</em>
                      </span>
            <strong>Search by country</strong>
        </a>
        <div class="blockpadding">
            <form>
                <input class="typeahead state" type="text" placeholder="select from the list">
                <input class="hidden-submit" type="submit">
                <i class="fi-magnifying-glass"></i>
            </form>
        </div>
    </li>
    <li>
        <a href="#" class="cityblock"
           style="background: url('{{ topCity.logo }}') 50% 50% no-repeat; background-size: cover;">
                      <span>
                        {{ topCity.name }}
                        <em>Browse to City</em>
                      </span>
            <strong>Search by city</strong>
        </a>
        <div class="blockpadding">
            <form>
                <input class="typeahead state" type="text" placeholder="select from the list">
                <input class="hidden-submit" type="submit">
                <i class="fi-magnifying-glass"></i>
            </form>
        </div>
    </li>
    <li>
        <a href="#" class="cityblock"
           style="background: url('{{ topPlace.logo }}') 50% 50% no-repeat; background-size: cover;">
                      <span>
                        {{ topPlace.name }}
                        <em>Browse to Place</em>
                      </span>
            <strong>Search by place</strong>
        </a>
        <div class="blockpadding">
            <form>
                <input class="typeahead state" type="text" placeholder="select from the list">
                <input class="hidden-submit" type="submit">
                <i class="fi-magnifying-glass"></i>
            </form>
        </div>
    </li>
</ul>

<div class="double_line"></div>

<div class="meetings">
    <div class="row">
        <div class="large-4 medium-4 columns">
            <h3>Last photos <a href="">full list</a></h3>
            <ul class="photos">
                <li ng-repeat="g in galleries">
                    {{ g.date | date:'dd MMM yyyy' }}<br/>
                    <span>(<a href="">{{ g.place.name }}</a>, <a href="">{{ g.city.name }}</a>,
                  <a class="country" href="">{{ g.country.name }}</a>)</span> <a class="name" href="">{{ g.photographer.name }}</a>
                </li>
            </ul>
        </div>
        <div class="large-4 medium-4 columns centered">
            <h3>top Photographer</h3>
            <ul class="tophotos small-block-grid-2 medium-block-grid-1 large-block-grid-1">
                <li ng-repeat="p in photographers"><a href="">{{ p.name }}</a></li>
            </ul>
        </div>
        <div class="large-4 medium-4 columns">
            <h3>Top places and countries</h3>
            <ul class="toplaces">
                <li ng-repeat="p in places">
                    <a class="grey" href="">{{ p.name }}</a>, <a class="grey" href="">{{ p.city.name }}</a><br/>
                    <a href="">{{ p.country.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<script>

    function scopeUpdated($scope) {
        console.log('scopeUpdated');
        var slider = $("#lightSlider").lightSlider({
            item: 1,
            slideMargin: 0,
            pager: false,
            loop: true,
            controls: false,
            mode: "fade",
            auto: true,
            enableDrag: false,
            pause: 10000,
        });
    }

</script>