<div class="row baseblock">
    <div class="small-12 medium-7 large-7 columns">
        <div class="section_photo">
            <div class="photo">
                <img src="{{ photo.src }}">
                <div class="controls">
                    <a ng-if="prev_photo != photo.id" class="prev-search-photo" ui-sref="photo({id: prev_photo, gallery_id: gallery.id})"></a>
                    <a ng-if="next_photo != photo.id" class="next-search-photo" ui-sref="photo({id: next_photo, gallery_id: gallery.id})"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="small-12 medium-5 large-5 columns">
        <div class="section_down">
            <a href="" class="button expand down">Download Your Photo</a>
            <div class="into">

                <table>
                    <tr class="radio-list checked" ng-click="setResolution('best');">
                        <td class="radiobox">
                        <input type="radio" name="resolution">
                            <span></span>
                        </td>
                        <td class="inf">
                  <span class="subject">
                    Best Quality
                    <i>
                        <div class="toolt">
                            <span class="toolsubj">Products for Resale</span>
                            Enhanced license grant which includes the ability to
                            incorporate the image into print or electronic products
                            for resale or distribution (including templates and
                            on-demand products). For more details see the
                            <a href="" target='_blank'>Commercial Licensing Agreement</a>.
                        </div>
                    </i>
                  </span>
                            <span class="res">2848 x 4288px @300dpi</span>
                        </td>
                        <td class="cost">60$</td>
                    </tr>
                    <tr class="radio-list" ng-click="setResolution('web');">
                        <td class="radiobox">
                            <input type="radio" name="resolution">
                            <span></span>
                        </td>
                        <td class="inf">
                  <span class="subject">Web/Social
                    <i>
                        <div class="toolt">
                            <span class="toolsubj">Products for Resale</span>
                            Enhanced license grant which includes the ability to
                            incorporate the image into print or electronic products
                            for resale or distribution (including templates and
                            on-demand products). For more details see the
                            <a href="" target='_blank'>Commercial Licensing Agreement</a>.
                        </div>
                    </i>
                  </span>
                            <span class="res">800 x 1200px @72dpi </span>
                        </td>
                        <td class="cost">25$</td>
                    </tr>
                </table>

                <section ng-controller="CartCtrl as c">
                <a ng-if="!cart.items[photo.id]" href="" class="button blue expand radius" ng-click="c.addToCart(photo.id, photo.gallery_id, photo.resolution);">
                    <span>Add to cart</span>
                </a>
                <a ng-if="cart.items[photo.id]" ui-sref="checkout" class="button green expand radius" >
                    <span>Checkout</span>
                </a>
                </section>

                <div class="social justify">
                    <div class="social-likes justify" data-counters="no">
                        <div class="facebook" title="Поделиться ссылкой на Фейсбуке"></div>
                        <div class="twitter" title="Поделиться ссылкой в Твиттере"></div>
                        <div class="mailru" title="Поделиться ссылкой в Моём мире"></div>
                        <div class="pinterest" title="Поделиться картинкой на Пинтересте" data-media=""></div>
                    </div>
                </div>

                <h5>IMAGE DETAILS</h5>

                <table class="photo_info">
                    <tr>
                        <td>Photographer:</td>
                        <td><a href="" ui-sref="photographer({id: gallery.photographer.id})">{{ gallery.photographer.name }}</a></td>
                    </tr>
                    <tr>
                        <td>Photo ID:</td>
                        <td><a href="" ui-sref="photo({id: photo.id})">{{ photo.id }}</a></td>
                    </tr>
                    <tr>
                        <td>Gallry ID:</td>
                        <td><a href="" ui-sref="gallery({id: gallery.id})">{{ gallery.id }}</a></td>
                    </tr>
                    <tr>
                        <td>Place:</td>
                        <td><a href="" ui-sref="place({id: gallery.place.id})">{{ gallery.place.name }}</a></td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td><a href="" ui-sref="city({id: gallery.city.id})">{{ gallery.city.name }}</a></td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td><a href="" ui-sref="country({id: gallery.country.id})">{{ gallery.country.name }}</a></td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="section_water">
            <h5>watermarks</h5>
            <span>Watermarks do not appear on the final product!</span>
        </div>
    </div>
</div>

<div class="row thumbsgal">
    <div class="small-12 medium-12 large-12 columns">
        <span class="subject">More images from <a href="">Uniun Nightclub</a> gallery</span>
        <div class="thumbwrap">
            <ul class="minslider">
                <li ng-repeat="p in thumbnails">
                    <a ui-sref="photo({id: p.id, gallery_id: gallery.id})">
                        <img ng-src="{{ p.ico }}" imageonload="minslider">
                    </a>
                </li>
            </ul>
            <div class="controls">
                <a class="prev"></a>
                <a class="next"></a>
            </div>
        </div>
    </div>
</div>

