<!-- PAGE REPRESENTING A SINGLE PHOTOGRAPHER -->
<div class="ongo-category-item">

  <!-- CONTENT AREA -->
  <section class="ongo-content">

      <!-- INFO -->
      <div class="ongo-info">
        <div class="grid-x">

            <!-- AVATAR AREA (i.e. country flag, photographer avatar, etc.) -->
            <div class="small-12 medium-2 cell">
                <img ng-src="{{ photograph.photo }}">
            </div>

            <!-- TODO: what is this? -->
            <div class="wrbadges">
                <div class="lSSlideOuter ">
                    <div class="lSSlideWrapper usingCss on">
                        <ul class="badgessl lightSlider lSFade"
                            style="height: 0px; padding-bottom: 8.125%; transition-duration: 400ms; transition-timing-function: ease;">
                            <li class="b1 lslide"><a href="">Top 10 in World</a></li>
                            <li class="b2 lslide"><a href="">3-Best in Russia</a></li>
                            <li class="b3 lslide"><a href="">2-Best in ASTANA</a></li>
                            <li class="b4 lslide"><a href="">BEST IN HOTEL</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- INFO AREA (title, tags, etc... ) -->
            <div class="small-12 medium-9 cell">
                <div class="info-area">

                    <h1 ui-sref="photographer({id: photograph.id})">{{ photograph.name }}</h1>

                    <div class="tags">
                        <a class="tag" href="">
                            <translate>Photos</translate>
                            : <span>{{ photograph.stats.photos }}</span></a>
                        <a class="tag" href="">
                            <translate>Views</translate>
                            : <span>{{ photograph.stats.views }}</span></a>
                        <a class="tag" href="" ui-sref="photographer.places">
                            <translate>Places</translate>
                            : <span>{{ photograph.stats.places }}</span></a>
                        <a class="tag" href="" ui-sref="photographer.galleries">
                            <translate>Galleries</translate>
                            : <span>{{ photograph.stats.galleries }}</span></a>
                    </div>
              </div>
          </div>
      </div>
    </div>

    <img class="ongo-bg" ng-src="/img/bg_photografer.jpg"></div>
  </section>

  <section>
    <ui-view>
        <ng-include src="'views/inc_lastgalleries.html'"></ng-include>
    </ui-view>
  </section>
  
</div>
