{% extends "layout.html.twig" %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="assets/styles/home.css">
{% endblock %}

{% block content %}
    <h1>This is your homepage</h1>
{% endblock %}

{% block footer %}
{% endblock %}